.fieldElement {
  padding: 3px;
  margin: 1px;
  min-height: 25px;
  min-width: 25px;
  box-shadow: none;
  border: 1px solid #a3a3a3;
  background-color: #bdbdbd;
  outline: none;

  position: relative;
  user-select: none;
}

.fieldElement:hover {
  background-color: #a3a3a3;
}

.openedElement {
  background-color: #fcfdd7;
}

.openedElement:hover {
  background-color: #fcfdd7;
}

.emptyElement {
  background-color: #ffffff;
}
.emptyElement:hover {
  background-color: #ffffff;
}

.fault {
  background-color: #f50606;
}

.fieldElement > svg {
  --sizeSVG: 80%;
  position: absolute;
  width: var(--sizeSVG);
  height: var(--sizeSVG);
  top: calc(calc(100% - var(--sizeSVG)) / 2);
  left: calc(calc(100% - var(--sizeSVG)) / 2);
}
