.homePageBtns {
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-columns: 1fr 1fr;
}

.homePageLink {
  text-decoration: none;
  margin: 5px;
}

.homePageBtn {
  width: 100%;
  height: 100%;
}
