.title {
  text-align: center;
}

.content {
  text-align: center;
}

.inputUserName {
  width: 100%;
}

.lineResult {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px;
  color: #3b3b3b;
}

.yourResult {
  padding: 15px 3px;
  font-weight: bold;
  color: #000;
}

.id {
  width: 20%;
}

.time {
  width: 20%;
}

.user {
  width: 60%;
  text-align: right;
}
