.gamePage {
  display: flex;
  justify-content: center;
}

.gameField {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamePageSettings {
  max-width: 40vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.gamePageSetting {
  text-decoration: none;
  margin-top: 10px;
  width: 20vw;
}

.gamePageSettingBtn {
  width: 100%;
}
